@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  margin: 0;
  padding: 0;
  width: 100%;

  background: linear-gradient(
    180deg,
    $background-color 15%,
    $background-gradient-light 30%,
    $background-gradient-middle 60%
  );

  color: $color-text;
  font-family: $base-font;
  font-size: $text-size;
}

p {
  font-size: $text-size;
}

a {
  color: $color-text;
  text-decoration: none;
}

h1 {
  font-size: $h1-size;
}

button {
  font-family: $base-font;
}

@media (max-width: 480px) {
  body {
    width: 100%;
    font-family: $mob-font;
    font-size: $text-size-mob;
  }

  p {
    font-size: $text-size-mob;
  }

  h1 {
    font-size: $h1-size-mob;
  }

  button {
    font-family: $mob-font;
    font-size: $button-size-mob;
    padding: 10px 15px;
  }
}
