@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

//fonts
$base-font: 'Fira Sans Condensed', sans-serif;
$mob-font: 'Rubik', sans-serif;

// colors
$color-text: #eef3ff;
$color-text-white: #ffffff;
$color-nav-hover: #a2d2d2;
$color-button-form: #2d76f9;
$color-error: #f00;
$color-header: #20212c;
$color-cont-mob: #9aa8ba;

$color-sep: #2b2d3a;

$background-color: #24252f;
$background-gradient-light: #31313f;
$background-gradient-middle: #242530;
$backgroud-button: #313341;
$background-button-hover: #606273;

// font sizes desk
$text-size: 18 px;
$h1-size: 48px;
$button-size: 24px;

// font sizes mob
$text-size-mob: 12px;
$h1-size-mob: 21px;
$button-size-mob: 12px;
$menu-size-mob: 18px;
$cont-size-mob: 16px;
