@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

$base-font: 'Fira Sans Condensed', sans-serif;

// colors
$color-text: #eef3ff;
$color-nav-hover: #a2d2d2;

$background-color: #24252f;
$background-gradient-light: #31313f;
$background-gradient-middle: #242530;
$backgroud-button: #313341;
$background-button-hover: #606273;

// font sizes
$text-size: 18 px;
$h1-size: 48px;
$button-size: 24px;
